<div class="center padded">
    <div class="content padded">
        <div class="padded">
            <h1>¿No estas convencidado? mira lo que he construido</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer app</h3>
                <p>Una aplicacion que envia correos utilizando la API de Sendgrid</p>
                <a class="blue" target='_blank' href="#">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de clientes</h3>
                <p>Aplicación para gestionar clientes</p>
                <br>
                <a class="blue" href="{{ url_for('static', filename='ClienteG.zip') }}">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de tareas</h3>
                <p>Una aplicacion para gestionar unas tareas</p>
                <a class="blue" href="{{ url_for('static', filename='todoLIST.zip')}}">Link aquí</a>
            </div>
        </div>
    </div>
</div>